.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
}
