@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: rgba(21, 26, 34, 1);
  color: white;
}

body {
  padding: 100px;
  height: 100vh;
}

.pink {
  color: rgba(245, 92, 102, 1);
}

.chartBox {
  width: 60%;
}

.roundBox {
  width: 40%;
}

.small {
  color: rgb(115 119 128);
  font-size: x-small;
  font-weight: 500;
}
