@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: rgba(21, 26, 34, 1);
  color: white;
}

body {
  padding: 100px;
}

.pink {
  color: rgba(245, 92, 102, 1);
}

.chartBox {
  width: 60%;
}

.roundBox {
  width: 40%;
}
