.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(50, 55, 69);
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 12vh;
  overflow-y: scroll;
}

.inputButtonContainer {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgba(36, 42, 57, 1);
}

.inputButtonContainer input {
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  width: 100%;
}

.userWithTextContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: x-small;
  font-weight: bold;
}

.chatText {
  background-color: rgba(36, 42, 57, 1);
  border-radius: 5px;
  padding: 5px;
}

.userName {
  background-color: rgba(21, 26, 34, 1);
  color: rgb(205, 59, 132);
  font-size: small;
}
