.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.halfWidth {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
