* {
  background-color: rgba(21, 26, 34, 1);
  color: white;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
