.leftSideContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonTableContainer button {
  width: 100%;
}

.buttonTableContainer {
  gap: 20px;
}

.roundTableContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
