.container {
  border: 1px solid rgb(50, 55, 69);
  border-radius: 5px;
  height: 40vh;
  background-color: rgba(36, 42, 57, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
}

.pink {
  background-color: rgba(36, 42, 57, 1);
  color: rgba(245, 92, 102, 1);
}

.value {
  background-color: rgba(36, 42, 57, 1);
}
